<header>
  <p>Amanda Emery</p>
  <p>Guide &amp; Teacher</p>
</header>

<style>
  header {
    position: absolute;
    width: 100vw;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    opacity: .3;
    backdrop-filter: blur(10px);
    padding: 10px;
    text-align: center;
  }

  p {
    margin: 0;
  }
</style>