<header>
  <div class="background-color"></div>
  <p>Amanda Emery</p>
  <p>Guide &amp; Teacher</p>
</header>

<style>
  header {
    position: absolute;
    width: 100vw;
    padding: 10px;
    text-align: center;
    z-index: 10;
  }

  .background-color {
    position: absolute;
    width: 100vw;
    background-color: #f5f5f5;
    opacity: .3;
  }

  p {
    margin: 0;
  }
</style>