<header>
  <div class="background-color"></div>
  <p class="large-text">Amanda Emery</p>
  <p>Guide &amp; Teacher</p>
</header>

<style>
  header {
    position: absolute;
    width: 100vw;
    padding: 10px;
    text-align: center;
  }

  .background-color {
    position: absolute;
    width: 100vw;
    background-color: #f5f5f5;
    opacity: .3;
  }

  p {
    position: relative;
    margin: 0;
    z-index: 10;
  }
</style>