---
import { Picture } from '@astrojs/image/components';

export interface Props {
	image: string;
  alt: string;
}

const { image, alt } = Astro.props;
---

<section class="hero">
  <Picture class="hero-image" src={image} widths={[400, 800, 1500]} sizes="100vw, 736px" alt={alt} />
</section>

<style>
  .hero-image {
    min-height: 700px;
  }
</style>