---
import { Picture } from '@astrojs/image/components';

export interface Props {
	src: string;
  alt: string;
}

const { src, alt } = Astro.props;
---

<section class="hero">
  <Picture src={src} widths={[400, 800, 1500]} sizes="(max-width: 767px) 100vw, 736px" alt={alt} />
</section>