---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import HomepageHero from '../components/HomepageHero.astro';
import heroImage from '../assets/header.jpg';
import { Picture } from '@astrojs/image/components';
---

<Layout title="Welcome to Astro.">
	<main>
		<HomepageHero image={heroImage} alt="Lotus flower on water" />
		<h1>Your stuff here</h1>
		<Picture class="hero-image" src={heroImage} widths={[400, 800, 1500]} sizes="100vw, 736px" />
	</main>
</Layout>

<style>
	/* main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	} */
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}

	.headshot {
		width: 200px;
		height: 200px;

	}
</style>
